doctype html
html
	head
		title Sonos-Web RS
		link(rel="stylesheet" type="text/css" href="/static/css/main.css")
	body
		header
			div#topbar
				div.left
					div.menutoggle
						i.fa.fa-bars
					div.title Sonos-Web RS
		div#content
			h2 Sonos-Web RS
		div#playBar
			div#playbar-progress.progressbar
				div.progress-active
			div#song_box.song_box
				img.album_cover(src="/static/img/dummy-cover.jpg")
				div#sb_song_info.song_info
					div.title Some Title
					div.artist Some Artist
					div.album Ministry Of Sound - Ibiza 2017
			div.player_controls
				div.controls
					div.control.prev
						i.fas.fa-backward
					div.control.playpause
						i.fas.fa-play
					div.control.next
						i.fas.fa-forward
			div.timing_info
				div.timing_volume
					div.volume_control
						div.volume-icon
							i.fas.fa-volume-up
						div.volume-bar
							div.volume-bar-empty
							div.volume-bar-fill
							div.volume-bar-dot
						div.volume-value 40
					div#running-time.timing 01:24 / 02:48
		script(src="/static/js/main-min.js" type="text/javascript")